akshare==1.9.12
attrs==22.2.0
beautifulsoup4==4.11.2
cattrs==22.2.0
certifi==2022.12.7
cfscrape==2.1.1
charset-normalizer==3.1.0
decorator==5.1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.1
html5lib==1.1
idna==3.4
jsonpath==0.82
loguru==0.6.0
lxml==4.9.2
mypy==1.1.1
mypy-extensions==1.0.0
numpy==1.24.2
openpyxl==3.1.2
pandas==1.5.3
platformdirs==3.1.1
py-mini-racer==0.6.0
pypinyin==0.48.0
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
requests-cache==1.0.0
six==1.16.0
soupsieve==2.4
tabulate==0.9.0
tomli==2.0.1
tqdm==4.65.0
typing_extensions==4.5.0
url-normalize==1.4.3
urllib3==1.26.15
webencodings==0.5.1
websocket-client==1.5.1
xlrd==2.0.1
retry==0.9.2
